:root {
	--background-card-color: hsl(256, 26%, 20%);
	--dark-font-color: hsl(270, 9%, 17%);
	--footer-color: hsl(273, 4%, 51%);
	--light-font-color: hsl(0, 0%, 98%);
	--footer-font-color: hsl(216, 30%, 68%);
	--main-font: 'DM Serif Display', sans-serif;
	--secondary-font: 'Karla', sans-serif;
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 320px;
	margin: 0 auto;
}

.decoration-desktop-image {
	display: none;
}

body {
	overflow-x: hidden;
}

/*HEADER*/

header {
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: white;
}

.header--container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
	z-index: 9;
}

.hamburger--menu {
	cursor: pointer;
}

.navigation {
	display: none;
}

.button {
	transition: color 0.4s linear;
	position: relative;
	cursor: pointer;
}

.button:hover {
	color: var(--background-card-color);
}

.button::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: -1;
	transition: transform 0.5s;
	transform-origin: 0 0;
	transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
	transform: scaleX(0);
}

.button:hover::before {
	transform: scaleX(1);
}

li {
	cursor: pointer;
}

/*HERO*/

.hero--image--container {
	background-image: url('../assets/images/image-intro-mobile.jpg');
	height: 450px;
	background-repeat: no-repeat;
	background-position: center;
}

.hero--letter {
	background-color: var(--background-card-color);
	height: 450px;
	display: flex;
	position: relative;
	z-index: 2;
}

.hero--letter .hero--top--image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.hero--letter--container {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 3;
}

.hero--letter--container p {
	color: var(--light-font-color);
	font-family: var(--main-font);
	font-size: 45px;
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 2rem;
}

.hero--letter--container span {
	font-family: var(--secondary-font);
	text-align: center;
	color: var(--light-font-color);
	margin-bottom: 2rem;
}

.hero--letter--container button {
	background-color: transparent;
	font-family: var(--secondary-font);
	border: 2px solid var(--light-font-color);
	height: 3rem;
	width: 10rem;
	color: white;
	font-weight: 700;
}

.hero--bottom--image {
	position: absolute;
	top: 20rem;
	left: auto;
	right: 0;
	z-index: 4;
}

.divider {
	margin-top: 5rem;
	margin-bottom: 5rem;
	display: flex;
	text-align: center;
	height: 10rem;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 1rem;
	position: relative;
}

.divider::before {
	content: '';
	height: 2px;
	width: 7rem;
	background-color: var(--background-card-color);
	display: block;
	margin-bottom: 3rem;
}

.divider p {
	font-family: var(--main-font);
	font-size: 45px;
}

.benefits--container {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	margin-bottom: 4rem;
}

.benefit-article {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 20rem;
}

.benefit-article span {
	font-family: var(--main-font);
	font-size: 23px;
}

.benefit-article p {
	font-family: var(--secondary-font);
	color: var(--footer-color);
	text-align: center;
}

.bottom--card {
	background-color: var(--background-card-color);
	height: 20rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 10rem;
	position: relative;
}

.bottom--card p {
	text-align: center;
	font-size: 40px;
	color: var(--light-font-color);
	font-weight: bold;
	z-index: 4;
}

.bottom--card button {
	background-color: transparent;
	font-family: var(--secondary-font);
	border: 2px solid var(--light-font-color);
	height: 3rem;
	width: 10rem;
	color: white;
	font-weight: 700;
	z-index: 4;
}

.bottom--card img {
	position: absolute;
	top: 0;
	right: 0;
	left: auto;
	z-index: 3;
}

/*FOOTER*/

footer {
	background-color: var(--light-font-color);
	position: relative;
	z-index: 5;
}

footer .footer--image {
	position: absolute;
	z-index: 4;
}

.footer--container {
	display: flex;
	flex-direction: column;
}

.footer--firtsrow {
	height: 10rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	border-bottom: 2px solid var(--footer-color);
	margin-bottom: 3rem;
	z-index: 6;
}

.socialmedia--icons--container {
	width: 12rem;
}

.socialmedia--icons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.socialmedia--icons li {
	list-style: none;
}

.footer--secondrow {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 1rem;
	text-align: center;
}

.footer--secondrow div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 16rem;
}

.footer--secondrow div span {
	color: var(--footer-font-color);
	font-weight: 700;
	font-family: var(--secondary-font);
}

.footer--secondrow div ul {
	display: flex;
	height: 8rem;
	flex-direction: column;
	justify-content: space-between;
}

.footer--secondrow div ul li {
	list-style: none;
	color: var(--dark-font-color);
	font-family: var(--secondary-font);
	font-weight: 700;
}
.footer--secondrow div ul li:hover {
	text-decoration: underline;
}

.hero--letter--grid .hero--desktop--image {
	display: none;
}

.hero--letter .decoration-desktop-image-bottom {
	display: none;
}

/*NAVIGATION*/

.navigation {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: absolute;
	right: 0;
	height: 80vh;
	top: 20vh;
	width: 100vw;
	background-color: var(--dark-font-color);
	transform: translateX(100%);
	transition: transform 0.5s ease-in;
}

.navigation li {
	/* opacity: 0; */
	margin-top: 5rem;
	list-style: none;
}

.navigation li a {
	text-decoration: none;
	color: white;
	font-family: var(--secondary-font);
	font-weight: 700;
}

.navigation button {
	background-color: transparent;
	font-family: var(--secondary-font);
	border: 2px solid var(--light-font-color);
	height: 3rem;
	width: 20rem;
	color: white;
	font-weight: 700;
}

.navigation button:hover {
	color: white;
}

.navigation-active {
	transform: translateX(0%);
}

@media screen and (min-width: 540px) {
	.hero--image--container {
		background-image: url('../assets/images/image-intro-desktop.jpg');
		height: 450px;
		/* background-repeat: no-repeat; */
	}
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 650px;
	}

	.hero--image--container {
		background-image: url('../assets/images/image-intro-desktop.jpg');
		height: 450px;
		width: 100vw;
		background-position: center;
		/* background-repeat: no-repeat; */
	}
}

@media screen and (min-width: 1024px) {
	.container {
		max-width: 900px;
	}
}

@media screen and (min-width: 1300px) {
	.hero--letter--grid .hero--desktop--image {
		display: block;
	}
	.container {
		max-width: 1100px;
	}

	.hamburger--menu {
		display: none;
	}

	.navigation {
		display: flex;
		width: 40%;
		justify-content: space-between;
		align-items: center;
		background-color: white;
		transform: translateX(0%);
		position: initial;
		height: 0;
		flex-direction: row;
	}

	.navigation li {
		list-style: none;
		margin-top: 0;
	}

	.navigation li a {
		text-decoration: none;
		font-family: var(--secondary-font);
		font-weight: 700;
		color: hsl(273, 4%, 51%);
	}

	.navigation button {
		background-color: transparent;
		font-family: var(--secondary-font);
		border: 2px solid var(--background-card-color);
		height: 3rem;
		width: 10rem;
		color: var(--background-card-color);
		font-weight: 700;
		z-index: 4;
	}

	.navigation .button {
		transition: color 0.4s linear;
		position: relative;
		cursor: pointer;
	}

	.navigation .button:hover {
		color: var(--light-font-color);
	}

	.navigation .button::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: var(--background-card-color);
		z-index: -1;
		transition: transform 0.5s;
		transform-origin: 0 0;
		transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
		transform: scaleX(0);
		transition: none;
	}

	.navigation .button:hover::before {
		transform: scaleX(1);
	}

	.decoration-image {
		display: none;
	}

	.decoration-desktop-image {
		display: none;
	}

	.hero--image {
		display: none;
	}

	.hero--letter {
		height: 610px;
		margin-bottom: 230px;
		position: relative;
	}

	.hero--letter .decoration-desktop-image-bottom {
		display: block;
	}

	.hero--letter--grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: 'letter image';
		margin-top: 6rem;
	}

	.hero--desktop--image {
		grid-area: image;
		margin: 0 auto;
	}

	.hero--letter--container {
		align-items: flex-start;
	}

	.hero--letter--container::before {
		content: '';
		display: block;
		height: 1px;
		background-color: white;
		width: 10rem;
	}

	.hero--letter--container span {
		text-align: initial;
		line-height: 25px;
		letter-spacing: 1px;
	}
	.hero--letter--container p {
		text-align: initial;
		font-size: 65px;
		line-height: 55px;
	}

	.hero--letter .decoration-desktop-image {
		display: initial;
		position: absolute;
		top: -13%;
		right: 0;
		left: auto;
		bottom: 0;
		z-index: 2;
	}

	.decoration-desktop-image-bottom {
		display: initial;
		position: absolute;
		top: 70%;
		right: 0;
		left: 0;
		bottom: 0;
	}

	.divider {
		display: block;
		text-align: left;
		padding-top: 5rem;
		font-size: 65px;
		margin-bottom: 5rem;
	}

	.divider::before {
		background-color: hsl(256, 26%, 20%);
		height: 1px;
	}

	.benefits--container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		margin-bottom: 7rem;
	}

	.benefit-article {
		padding: 1%;
	}

	.bottom--card {
		position: relative;
		height: 250px;
		flex-direction: row;
		justify-content: space-around;
	}

	.bottom--card p {
		font-size: 45px;
		text-align: justify;
	}

	.bottom--card .decoration-desktop-image {
		display: initial;
		position: absolute;
		top: 0;
		bottom: 0;
		left: auto;
		right: 0;
	}

	footer .decoration-desktop-image {
		display: initial;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.footer--firtsrow {
		flex-direction: row;
		justify-content: space-between;
	}

	.footer--secondrow {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
		margin-bottom: 5rem;
	}
}
